@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap");

body {
  font-family: Rubik, san-serif;
  color: #fff;
  background-color: #444;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#title {
  display: inline;
  width: 100%;
  text-align: center;
}

#game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.game-frame {
  display: inline;
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#game-stage {
  position: relative;
  width: 640px;
  height: 480px;
  padding: 0px;
  margin: 0px;
  image-rendering: pixelated;
}

/* Responsive scaling for mobile */
@media only screen and (max-width: 640px) {
  #game-stage {
    width: 100%;
    height: 90vh;
    padding: 0px;
    margin: 0px;
  }
  #title {
    display: none;
  }
}

#game-stage canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
}
#ui-layer {
  z-index: 3;
}
#game-layer {
  z-index: 2;
}
#bkg-layer {
  z-index: 1;
}
